body {
    background-image:
        url("../images/force.jfif");
        background-repeat: no-repeat;
        background-size: cover; 
        margin: 80px;
        font-family: 'Star Jedi', arial;
}

.characters {
    padding: 5px 5px 5px 5px;
    border: 5px solid green;
    text-align: center;
    width: 200px;
}

.rpg { 
    float: right;
}

span , img {
    display: block;
    margin: auto;
    text-align: center;
}

#characters {
    width: 100px;
    height: 100px;
}
